<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all unmatched paths to index.html -->
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/promanage/pmsme/template-builder/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>